<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <!--<target xsi:type="File" name="File" fileName="${basedir}/logs/${shortdate}_accesslog.log"
              layout="${message}" />-->
    <target xsi:type="File" name="err" fileName="${basedir}/logs/error.log"
              layout="${message}" />
    <target xsi:type="File" name="executionlog" fileName="${basedir}/logs/${shortdate}_executionlog.log"
              layout="${message}" />
    <target xsi:type="File" name="infolog" fileName="${basedir}/logs/${shortdate}_infolog.log"
             layout="${ndlc} ${longdate} ${callsite} ${callsite-linenumber} ${message}" />
  </targets>
  <rules>
    <!--<logger name="CommonLog.MasterMsLogMiddleware" minlevel="Trace" writeTo="File" />-->
    <logger name="OrderAPI.ExceptionHandling" minlevel="Error" writeTo="err" final="true"/>
    <!--<logger name="MasterMS.CommonFunctions.DBRepository" minlevel="Info" writeTo="executionlog" final="true"/>
    <logger name="MasterMS.*" minlevel="Info" writeTo="infolog"  />-->
    <!--<logger name="*" minlevel="Trace" writeTo="File" />-->
  </rules>
</nlog>